{% extends "base.html" %}
{% block content %}
<div class="row" >
    <div class="col-xs-6" style="height: 60px;"></div>
</div>
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            <div>
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>

        </form>
    </div>
</div>
{% endblock content %}
