{% extends "studio/studio_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>{{ message.title }}</h3>
        </div>
        <div class="col-6 ">
            <img style="max-width:100%;" src="{{ message.photo.url }}"  alt="">
        </div>
        <div class="col-12">
            <p>{{ message.text }}</p>
        </div>
    </div>
{% endblock content %}

{% block page_js %}
{% endblock page_js %}
