<div class="row mt-1">
    {% block messages %}
        {% if messages %}
            <div class="messages w-100">
                {% for message in messages %}
                <div {% if message.tags %} class="row {{ message.tags }}"{% endif %}>
                    <div class="col-12 d-flex justify-content-center">
                        <div class="alert alert-success text-center w-50" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                             </button>
                            {{ message }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
</div>
