<nav class="navbar navbar-static-top navbar-dark bg-dark d-flex align-items-center">
  <a href="{% url 'first_page:first_page' %}" class="navbar-brand">Auto posting</a>
  <ul class="nav navbar-nav">
      <div class="row">
          <li class="nav-item mr-2">
              <a href="{% url 'studio:settings' %}" class="text-light"> <i class="far fa-user"></i>&nbsp;{{ user.username }}&nbsp;</a>
          </li>
          <li class="nav-item mr-2">
              <a href="{% url 'first_page:logout' %}" class="btn btn-sm btn-success " type="submit">Вихід</a>
          </li>
      </div>
  </ul>
</nav>
