{% extends "studio/studio_base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Статистика</h1><hr>
    {% for statistic in statistic_list %}
         {{ statistic.date }}: {{ statistic.post_create }}<hr>
    {% endfor %}
    <script>
        window.onload = function () {

        var options = {
        	animationEnabled: true,
        	title:{
        		text: "Statistics for all time"
        	},
        	axisX: {
        		valueFormatString: "YYYY MMM DD"
        	},
        	axisY: {
        		title: "Number of posts created",
        		prefix: "",
        		includeZero: false
        	},
        	data: [{
        		yValueFormatString: "#,###",
        		xValueFormatString: "YYYY MMM DD",
        		type: "spline",
        		dataPoints: [
        			{ x: new Date(2017, 1, 2), y: 2 },
                    { x: new Date(2017, 1, 12), y: 3 },
                    { x: new Date(2017, 1, 14), y: 6 },
                    { x: new Date(2017, 1, 15), y: 4 },
                    { x: new Date(2017, 1, 17), y: 10 },
                    { x: new Date(2017, 3, 18), y: 25 },
                    { x: new Date(2017, 3, 19), y: 29 },
                    { x: new Date(2017, 3, 23), y: 9 },
                    { x: new Date(2017, 4, 25), y: 4 }
        		]
        	}]
        };
        $("#chartContainer").CanvasJSChart(options);
        }
    </script>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
{% endblock content %}
{% block page_js %}

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
{% endblock page_js %}
