{% extends "studio/studio_base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Статистика</h1><hr>
    <script>
        window.onload = function () {

        var options = {
        	animationEnabled: true,
        	title:{
        		text: "Statistics for all time"
        	},
        	axisX: {
        		valueFormatString: "MMMM, DD, YYYY"
        	},
        	axisY: {
        		title: "Number of posts created",
        		prefix: "",
        		includeZero: false
        	},
        	data: [{
        		yValueFormatString: "####",
        		xValueFormatString: "MMMM, DD, YYYY",
        		type: "spline",
        		dataPoints: [
                    {% for statistic in statistic_list %}
                        { x: new Date({{ statistic.date|date:"Y, m, d" }}), y: {{ statistic.post_create }} },
                    {% endfor %}
        		]
        	}]
        };
        $("#chartContainer").CanvasJSChart(options);
        }
    </script>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
{% endblock content %}
{% block page_js %}

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
{% endblock page_js %}
