<ul class="list-unstyled navbar-nav ml-1 bg-black">
    <li class="nav-item mt-2">
      <a class="btn btn-outline-dark btn-block" href="{% url 'studio:studio' %}"><i class="fas fa-home"></i> Головна</a>
    </li>
    <li class="nav-item mt-2">
      <a class="btn btn-outline-dark btn-block" href="{% url 'studio:tasks' %}"><i class="far fas fa-edit"></i> Завдання</a>
    </li>
    <li class="nav-item mt-2">
      <a class="btn btn-outline-dark btn-block" href="{% url 'studio:statistics' %}"><i class="fas fa-chart-line"></i> Статистика</a>
    </li>
    <li class="nav-item mt-2">
      <a class="btn btn-outline-dark btn-block" href="{% url 'studio:settings' %}"><i class="fas fa-cogs"></i> Налаштування</a>
    </li>
    <li class="nav-item mt-2">
      <a class="btn btn-outline-dark btn-block" href="{% url 'studio:social_network_page' %}"><i class="fas fa-sliders-h"></i> Соціальні мережі</a>
    </li>
</ul>
