{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% endblock css %}


<div class="row">
    <div class="col">
        {% block navbar %}
           {% include 'studio/navbarstudio.html' %}
        {% endblock navbar %}
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 ml-3 ">
        {% block menu %}
            {% include 'studio/studio_menu.html' %}
        {% endblock menu %}
    </div>
    <div class="col-7 border border-dark mt-2">
        {% block content %}
            {% block title %}
            <div class="portlet-body">
                <div class="row">
                    <input name="csrf_token" type="hidden" id="csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" id="url" value="{% url 'saveprofile' %}"/>
                    <div class="col-6">
                        <h3>Account Detail</h3>
                        <div class="img d-flex justify-content-center">
                            <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% endif %}" alt="..." class="rounded-circle  " height="160" width="auto">
                        </div>
                        <form enctype="multipart/form-data">
                          <div class="form-group ">
                            <label for="exampleFormControlFile1">Example file input</label>
                            <input type="file" class="form-control-file" id="icon">
                          </div>
                        </form>
                        <div class="form-label-group">
                            <input placeholder="Email Address" id="account_email" name="account[email]" type="email" class="form-control" value="{{ user.email }}">
                            <label for="account_email"><span class="text-danger">Email</span> Address</label>
                        </div>

                    </div>
                    <div class="col-5">
                        <h3>Personal Detail</h3>
                        <p><b>Last login</b> {{ user.last_login }}</p>
                        <br>
                        <h5>First Name</h5>
                        <input type="name" id="first_name" value="{{ user.first_name }}" class="form-control form-control-sm" placeholder="">
                        <br>
                        <h5>Last Name</h5>
                        <input type="name" id="last_name" value="{{ user.last_name }}" class="form-control form-control-sm" placeholder="">
                        <div class="mt-4 d-flex justify-content-center">
                            <button type="submit" class="save-profile btn btn-primary"><i id="progress"  role="status" class="fi fi-check"></i>Save change</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock title%}

        {% endblock content %}
</div>

{% block script %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{% static "js/table.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_create_telegram.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_create_facebook.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_create_task.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_delete_task.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_delete_facebook.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_delete_telegram.js" %}"></script>
    <script type="text/javascript" src="{% static "js/studio_save_profile.js" %}"></script>

{% endblock script %}
