{% extends "studio/studio_base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Оновлення - {{ post.title }}</h1>
    <hr>
    <input name="csrf_token" type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <div class="form-group">
      <label for="example-text-input">Назва</label>
      <div class="col-10">
        <input class="form-control" type="text" value="{{ post.title }}" id="title">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label for="exampleTextarea">Додайте текст</label>
      <textarea class="form-control" id="text" rows="5">{{ post.text }}</textarea>
    </div>
    <hr>
    <div class="row d-flex justify-content-center m-3">
        {% if post.images %}
            <img src="{{ post.images.url }}" alt="" height="200" width="auto">
        {% endif %}
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h6>Заплановано викласти:</h6>
        </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <input class="form-control" type="datetime-local" value="{{ post.date_posting|date:"Y-m-d" }}T{{ post.date_posting|date:"H:i" }}" id="example-datetime-local-input">
      </div>
    </div>
    <hr>
    <h6>Виберіть свої підключені соціальні мережі:</h6>
    <div class="row">
        <div class="col-4 mt-2 ml-5">
            <h5>Telegram</h5> <select class="file_id form-control" required id="id_file_id_t" name="">
                <option id="file_name" value="{{ post.sn_telegram.id }}" selected>{{ post.sn_telegram.name_channel }}</option>
                {% for telegram in telegrams %}
                    <option id="{{telegram.id}}" value="{{telegram.id}}">{{telegram.name_channel}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4 mt-2 ml-5">
            <h5>LiveJournal</h5> <select class="file_id form-control" required id="id_file_id_lj" name="">
                <option id="file_name" value="{{ post.sn_lj.id }}" selected>{{ post.sn_lj.login }}</option>
                {% for livejournal in livejournals %}
                    <option id="{{livejournal.id}}" value="{{livejournal.id}}">{{livejournal.login}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input type="hidden" id="url_update_task" value="{% url 'studio:taskupdatesave' pk=post.id %}"/>
    <div class="mt-3 mb-3">
        <button type="button" class="updtaskpost btn btn-primary">Зберегти зміни</button>
    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body iframe-text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_js %}
    <script type="text/javascript" src="{% static "js/studio_update_task.js" %}"></script>
{% endblock page_js %}
