<nav class="navbar navbar-static-top navbar-light bg-faded justify-content-start">
  <a href="{% url 'first_page:first_page' %}" class="navbar-brand">Auto posting</a>
  <ul class="nav navbar-nav">
     {% if user.is_active %}
         <li class="nav-item">
           <a class="nav-link" href="{% url 'studio:studio' %}">Студія<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{% url 'first_page:logout' %}">Вихід<span class="sr-only">(current)</span></a>
         </li>
        <li class="nav-item">
            <a class="nav-link">Користувач: {{user.username}}</a>
        </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'first_page:register_page' %}">Зареєструватися<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'first_page:login_page' %}">Вхід</a>
         </li>
    {% endif %}
  </ul>
</nav>
